* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
}

.btn {
    padding: .8em 1.6em;
    border-radius: .7em;
    background: transparent;
    border: transparent;
    cursor: pointer;
}
.btn-primary {
    background-color: rebeccapurple;
    color: #fff;
}
.error {
    color: red;
    font-weight: 700;
}