:root {
    --clr-primary: #c7c7c7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background-color: var(--clr-primary);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#regForm {
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 1rem;
    min-width: 400px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.324);
}

.headline {
    border-bottom: 1px solid var(--clr-primary);
    padding-bottom: 1rem;
    text-align: center;
}

.form-content {
    padding: 1.5rem;
}

.input-group {
    margin-bottom: 1rem; /*! Justera senare vid behov */
}


.input-group .input-label, 
.input-group .form-control, 
.input-group .invalid-input {
    display: block;
    width: 100%;
}

.input-group .input-label {
    margin-bottom: .3rem;
} 

.input-group .form-control {
    padding: .6rem 5rem;
    border-radius: .7rem;
    border: 1px solid var(--clr-primary);
    
}

.input-group .form-control:focus {
    outline: 1px solid #888888;
}


.input-group .invalid-input {
    margin-top: .3rem;
    color: #db1010;
    font-size: .9rem;
    visibility: hidden;
}

.is-invalid .form-control {
    border: 1px solid #db1010;
    outline: 2px solid #db1010;
}

.is-invalid .invalid-input {
    display: block;
    visibility: visible;
}